<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5 outline">GetGrip is a web app for managing and interacting with climbing gyms</h1>
        </div>
      </div>
      <div class="col-sm-4 mx-auto">
        <%= link_to "Sign up!", new_user_registration_path, :class => 'btn btn-block btn-lg btn-primary' %>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <h3>Climbers</h3>
            <p class="lead mb-0">No more hunting for tags and tape, find breakdowns and detailed information about your gym's routes. Track your climbing and get insights into your training.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <h3>Routesetters</h3>
            <p class="lead mb-0">No more spreadsheets and unclear instructions. Know your target ahead of time and manage revisions with ease.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <h3>Gym Owners</h3>
            <p class="lead mb-0">No more one time day passers. Get all the stats you need to fine tune your gym for the best customer experience, and keep your climbers hooked.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Track your climbing</h2>
          <p class="lead mb-0">Know what you've climbed, and what you should be climbing! GetGrip optimizes your gym time and gives you useful metrics on your performance.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Easy to Customize</h2>
          <p class="lead mb-0">Don't worry about adapting your climbing gym's grades, hold colors, or any existing standards to our platform. GetGrip will meet your gym wherever it's at.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get climbing? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="col-12 col-md-3 mx-auto">
            <%= link_to "Sign up!", new_user_registration_path, :class => 'btn btn-block btn-lg btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; Jonathan Evans 2020. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>