<div class = "card">
	<div class = "container">
		<div class = "row">
			<div class="col"> Setters: 
				<% @route.setters.each do |setter| %>
					<a href="#" class="badge badge-primary"><%= User.find(setter).email unless setter == "" %></a>
				<%end%>
			</div>
			<div class="col">Column</div>
		</div>
	</div>
</div>

<%= form_with(model: [ @route, @route.ratings.build ], remote: true) do |form| %>
	<div class ="form-group">
		<%= form.number_field :rating, class: "form-control" %>
	</div>

	<p>
		<%= form.submit :Submit, class: 'btn btn-success' %>
	</p>
<% end %>